/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y fondo general */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título principal */
h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* Explicación fórmula */
p {
    font-size: smaller;
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Etiquetas e inputs */
label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Resultado */
#resultado {
    font-size: 2em;
    color: #363737;
    margin: 10px 0;
}

/* Secciones informativas */
div {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 300px;
    text-align: center;
}

/* Rangos */
div p {
    margin: 5px 0;
}
