html {
    font-size: 20px;

}
body{
    margin:0;
    padding:0;
}
.contenedor {
    background-color: beige;
    border: transparent;
}
 footer{
    background-color: #EE6055;
    
     font-size: 20px;
     text-align: center;
     margin: 0;
     padding: 1rem;
     font-family: "Slackey";
     color: beige;

 }

.layout {
  width: 80%;
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 8px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #FFD97D;
  border-radius: 10px;
 
  
}

div{
    border:solid 3px #60D394;
    text-align: center;
    background-color: #60D394;
    padding-top:1rem;
    margin: 0;
    border-radius: 10px;
}

div a{
 font-size: 2rem;
 text-decoration: none;
 font-family: "Raleway", sans-serif; 
 
  margin:0rem;
  color: #EE6055;
  
 
}

a:hover {
    background-color: #AAF683;
    color: #EE6055;
}

h1 {
    background-color: beige;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    font-family: "Slackey",sans-serif;
    color: #EE6055;
    padding:0;
}





