@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding:0;
}
main{
    background: 
    linear-gradient(
    rgba(26, 25, 25, 0.8)),
    url("../img/hombre_gafas.png");
    background-size: cover;
    height: 95vh;

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color:white;
    min-height: 100vh;
    

}
i{
    
    color:rgb(87, 35, 228);
}
i:hover{
    color:white;
}

ul{
    text-align: right;
    list-style: none;
    margin-top:0;
    margin-right: 4rem;
    padding:1rem;
}
li{
    
    display: inline;
    padding-left: 1.5rem;

}
h1{
    font-size: 3rem;
    width: 40%;
    padding-top: 17rem;
    padding-left: 1rem;
}